*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#alert-box{
  display:flex;
  gap:1vw;
  width:90vw;
  aspect-ratio: 3/1; 
  
  border-radius: 1vw;
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);

  position:absolute;
  top:50%;
  left:5vw;
  transform:translate(0,-50%);
}